* {
    font-family: 'Verdana', sans-serif;
}

div p {
    position: relative;
    bottom: 10px; 
    font-size: 70%
}

input[type="text"] {
    height: 30px;
    width: 300px;
    border: 1px inset #c8c6c6;
    border-radius: 5px;
    color: #888282;
}

input[type="submit"] {
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #1aa731;
    color: #ffffff;
    text-align: justify;
}

label {
    font-size: 84%;
}

input, label {
   display: block;
}

p {
    color: #272626;
    font-size: 90%;
}

span {
    color: #000000;
    font-weight: bold; 
}

#full-name {
    float: left; 
}

#group-num {
    position: relative; 
    float: left;  
    left: 15px;
}

/* changes */
