* {
    font-family: 'Verdana', sans-serif;
}

li {
    font-size: 13px;
}

ol li {
    position: relative;
    left: -20px;
}

ul {
    position: relative;
    left: -15px;
    font-size: 13px;
    list-style-type: none;
}

ul li:before {
    position: relative;
    left: -5px;
    content: "-";    
}

caption {
    font-size: 80%;
    font-weight: bold;
}

caption + thead {
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

tr td {
    height: 20px;
    border: 1px solid black;
}

td input {
    width: 200px;
    text-align: center;
}

button {
    position: relative;
    left: 53em;
    border: 1px solid black;
    border-radius: 3px;
}

input[type="button"] {
    position: relative;
    top: 20px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #1aa731;
    color: #ffffff;
    text-align: justify;
}

input[type="button"] {
    position: relative;
    top: 0px; 
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #1aa731;
    color: #ffffff;
    text-align: justify;
    color: #f37676
}

section p {
    position: relative;
    top: -5px;
    font-size: 13px;
}

.answer {
    position: relative;
    top: 20px;
    border: 1px solid black;
    text-align: center;
}

.answer tbody tr td:first-child {
    font-size: 80%;
}

.task {
    position: relative;
    top: 5px;
    width: 845px; 
    text-align: left;
    font-size: 80%;
    font-weight: bold;
    border: 1px solid #aaa;
}

.task td {
    padding: 10px 5px;
}

#variant table {
    width: 700px;
}
